In [5]:
print("======================Welcome to Deepak Jha's World of DATA SCIENCE 2020!=========================================")
print("==================================================================================================")
"""
The iris dataset contains measurements for 150 iris flowers from three different species.

The Iris flower data set or Fisher's Iris data set is a multivariate data set introduced by Sir Ronald Fisher in the 1936
as an example of discriminant analysis.

The data set consists of 50 samples from each of three species of Iris (Iris setosa, Iris virginica and Iris versicolor)
so 150 total samples. 
Four features were measured from each sample: the length and the width of the sepals and petals, in centimeters.

The three classes in the Iris dataset:

Iris-setosa (n=50)
Iris-versicolor (n=50)
Iris-virginica (n=50)

The four features of the Iris dataset:

sepal length in cm
sepal width in cm
petal length in cm
petal width in cm
"""

"""
STEP INVOLVED:
---------------
1) Define the Usable Language- Python
2) Define and Select IDE as JUPYTER
3) Define/Import the Data Set.
4) Define and Select Machine Learning Classification.
5) Define Data Analysis Method
6) Define and Apply Maths-Statics
7) Define and Use Data Visulization
8) Define Web Scrapping Method if required.


"""

======================Welcome to Deepak Jha's World of DATA SCIENCE 2020!=========================================
==================================================================================================

'\nSTEP INVOLVED:\n---------------\n1) Define the Usable Language- Python\n2) Define and Select IDE as JUPYTER\n3) Define/Import the Data Set.\n4) Define and Select Machine Learning Classification.\n5) Define Data Analysis Method\n6) Define and Apply Maths-Statics\n7) Define and Use Data Visulization\n8) Define Web Scrapping Method if required.\n\n\n'

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

#Load Iris.csv into a pandas dataFrame.
#iris = pd.read_csv("iris.csv")

iris = pd.read_csv('D:/CDRIVE/DATA/iris_flower_dataset.csv')

In [7]:
print (iris.shape)

(150, 5)

In [8]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
#Exploratory Data Analysis
#sns.pairplot(iris, hue='species')

In [10]:
#iris_setosa = iris[iris['species'] == 'setosa']
#iris_setosa.head()

In [11]:
#sns.jointplot(x='petal_length', y='petal_width', data=iris_setosa, kind='kde')
#plt.show()

In [12]:
#sns.jointplot(x='sepal_width', y='sepal_length', data = iris_setosa, kind = 'kde')
#plt.show()

In [13]:
# Splitting data into training and testing datasets
#from sklearn.model_selection import train_test_split

In [14]:
#X = iris.drop('species', axis=1)
#y = iris['species']

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5)

In [15]:
# Training the model
#from sklearn.svm import SVC

In [16]:
#svm_classifier = SVC(gamma='auto')
#svm_classifier.fit(X_train, y_train)

In [17]:
# Model Evaluation
#from sklearn.metrics import confusion_matrix, classification_report

In [18]:
#y_pred = svm_classifier.predict(X_test)

In [19]:
#print(confusion_matrix(y_test, y_pred))
#print(classification_report(y_test, y_pred))

In [20]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.3+ KB

In [21]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [22]:
# Splitting data into training and testing datasets
from sklearn.model_selection import train_test_split

In [23]:
#X = iris.drop('species', axis=1)
#y = iris['species']

X = iris.drop('species', axis=1)
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5)

In [24]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [26]:
X_train, X_test = train_test_split(X, test_size=0.30, random_state=5)

In [32]:
X_train

     sepal_length  sepal_width  petal_length  petal_width
126           6.2          2.8           4.8          1.8
61            5.9          3.0           4.2          1.5
124           6.7          3.3           5.7          2.1
117           7.7          3.8           6.7          2.2
20            5.4          3.4           1.7          0.2
..            ...          ...           ...          ...
8             4.4          2.9           1.4          0.2
73            6.1          2.8           4.7          1.2
144           6.7          3.3           5.7          2.5
118           7.7          2.6           6.9          2.3
99            5.7          2.8           4.1          1.3

[105 rows x 4 columns]

In [33]:
X_test

     sepal_length  sepal_width  petal_length  petal_width
82            5.8          2.7           3.9          1.2
134           6.1          2.6           5.6          1.4
114           5.8          2.8           5.1          2.4
42            4.4          3.2           1.3          0.2
109           7.2          3.6           6.1          2.5
57            4.9          2.4           3.3          1.0
1             4.9          3.0           1.4          0.2
70            5.9          3.2           4.8          1.8
25            5.0          3.0           1.6          0.2
84            5.4          3.0           4.5          1.5
66            5.6          3.0           4.5          1.5
133           6.3          2.8           5.1          1.5
102           7.1          3.0           5.9          2.1
107           7.3          2.9           6.3          1.8
26            5.0          3.4           1.6          0.4
23            5.1          3.3           1.7          0.5
123           6.3          2.7           4.9          1.8
130           7.4          2.8           6.1          1.9
21            5.1          3.7           1.5          0.4
12            4.8          3.0           1.4          0.1
71            6.1          2.8           4.0          1.3
128           6.4          2.8           5.6          2.1
48            5.3          3.7           1.5          0.2
72            6.3          2.5           4.9          1.5
88            5.6          3.0           4.1          1.3
148           6.2          3.4           5.4          2.3
74            6.4          2.9           4.3          1.3
96            5.7          2.9           4.2          1.3
63            6.1          2.9           4.7          1.4
132           6.4          2.8           5.6          2.2
39            5.1          3.4           1.5          0.2
53            5.5          2.3           4.0          1.3
79            5.7          2.6           3.5          1.0
10            5.4          3.7           1.5          0.2
50            7.0          3.2           4.7          1.4
49            5.0          3.3           1.4          0.2
43            5.0          3.5           1.6          0.6
135           7.7          3.0           6.1          2.3
40            5.0          3.5           1.3          0.3
115           6.4          3.2           5.3          2.3
142           5.8          2.7           5.1          1.9
69            5.6          2.5           3.9          1.1
17            5.1          3.5           1.4          0.3
46            5.1          3.8           1.6          0.2
54            6.5          2.8           4.6          1.5

In [34]:
#Now we’ll fit the model on the Training Data:
#---------------------------------------------
from sklearn import datasets, linear_model

lm = linear_model.LinearRegression()

model = lm.fit(X_train,X_test)
predictions = lm.predict(X_test)

ValueError: Found input variables with inconsistent numbers of samples: [105, 45]