In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.0.1'

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 32
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 1.0.1
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 19.0.3
setuptools       : 40.8.0
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.1
IPython          : 7.12.0
pandas_datareader: None
bs4              : None
bottleneck       : None
fastparquet      : None
gcsfs            : None
lxml.etree       : None
matplotlib       : 3.1.3
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : None
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
xlsxwriter       : None
numba            : None

In [7]:
df = pd.DataFrame({'col one':[5,10,15,20,25], 'col two':[10,20,30,40,50]})
df

   col one  col two
0        5       10
1       10       20
2       15       30
3       20       40
4       25       50

In [8]:
s = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
s[:3]

a    1
b    2
c    3
dtype: int64

In [12]:
s[-3:]

c    3
d    4
e    5
dtype: int64

In [13]:
s[2:4]

c    3
d    4
dtype: int64

In [14]:
s[-3:-1]

c    3
d    4
dtype: int64

In [15]:
s['c']

3

In [17]:
s[['a','b','c']]

a    1
b    2
c    3
dtype: int64

In [18]:
s['f']

KeyError: 'f'

In [19]:
dff = pd.DataFrame()

In [20]:
dff

Empty DataFrame
Columns: []
Index: []

In [41]:
df

   col two
0       10
1       20
2       30
3       40
4       50

In [39]:
#del df['col one']
df

   col two
0       10
1       20
2       30
3       40
4       50

In [42]:
#df.drop('col one')

In [43]:
df.head()

   col two
0       10
1       20
2       30
3       40
4       50

In [44]:
df.tail()

   col two
0       10
1       20
2       30
3       40
4       50

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   col two  5 non-null      int64
dtypes: int64(1)
memory usage: 104.0 bytes

In [46]:
df

   col two
0       10
1       20
2       30
3       40
4       50

In [47]:
dff = pd.DataFrame({'col one':[5,10,15,20,25], 'col two':[10,20,30,40,50],'col three':[10,20,30,40,50]})
dff

   col one  col two  col three
0        5       10         10
1       10       20         20
2       15       30         30
3       20       40         40
4       25       50         50

In [48]:
del dff['col three']

In [50]:
dff

   col one  col two
0        5       10
1       10       20
2       15       30
3       20       40
4       25       50

In [51]:
dff.pop('col two')

0    10
1    20
2    30
3    40
4    50
Name: col two, dtype: int64

In [52]:
dff

   col one
0        5
1       10
2       15
3       20
4       25

In [53]:
dfff = pd.DataFrame({'col one':[5,10,15,20,25], 'col two':[10,20,30,40,50],'col three':[10,20,30,40,50]})
dfff

   col one  col two  col three
0        5       10         10
1       10       20         20
2       15       30         30
3       20       40         40
4       25       50         50

In [55]:
dfff.loc[2]

col one      15
col two      30
col three    30
Name: 2, dtype: int64

In [56]:
dfff.iloc[3]

col one      20
col two      40
col three    40
Name: 3, dtype: int64

In [64]:
for col1 in dfff:
    col1